---
// Grid component for overview sections
---

<section aria-labelledby="overview-heading">
  <h2 id="overview-heading" class="sr-only">Informations générales</h2>
  <div class="w-full relative grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-8 mb-section">
    <slot />
  </div>
</section>