---
import CVLayout from '../layouts/CVLayout.astro';
import { Content as CV2Content } from '../content/cv2.mdx';
import Footer from '../components/Footer.astro';

const title = "Mathieu Drouet - Senior Product Manager";
const description = "CV de Mathieu Drouet, Senior Product Manager avec plus de 10 ans d'expérience en gestion de produits numériques et transformation digitale.";
---

<CVLayout title={title} description={description}>
  <div class="pl-page pr-8 pt-8 pb-16">
    <CV2Content />
  </div>
</CVLayout>
    <Footer />
