---
import '../styles/global.css';
import { Card } from '../components/ui/card';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700;900&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-full bg-cv-bg font-cormorant text-lg antialiased">
    <Card className="max-w-[960px] mx-auto bg-cv-paper border border-cv-paper min-h-screen">
      <slot />
    </Card>
  </body>
</html>